

body{
    background: linear-gradient(90deg, hsla(192, 80%, 51%, 1) 0%, hsla(355, 85%, 63%, 1) 100%);
/* background-image: url("https://media.istockphoto.com/id/1509117234/photo/4k-resolution-hud-elements-technology.webp?b=1&s=170667a&w=0&k=20&c=sU6CAGAx1WZUhf-Y6XjTnlSRVeAFW1f_MKi7OQ1Vmj4=");
background-size: cover;
background-repeat: no-repeat; */

/* background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%); */

}
.header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;
    border-bottom: 2px solid white;
    padding: 8px;
    width: 60%;
    position: relative;
    left: 22%;
}
.heading{
      color: white;    
}
.button{
     background-color: white;
     color: black;
     padding: 4px;
     font-size: 25px;
     border-radius: 20px;
}
.task {
    width: 60%;
    margin-left: 22%;
    height: 140px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px; 
    /* display: grid;
    vertical-align: auto; */
}


.title{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    /* line-height: 1; */
    display: flex;
    /* gap: 20px; */
    text-decoration: none;
    

}
.completed {
    text-decoration: line-through; /* Applied when task is completed */
  }
.description{
    color: black;
    font-weight:lighter;
    padding-left: 30px;
    font-size: 25px;
    
}
.select{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.sb{
    display: flex;
    /* padding: 10px; */
    /* justify-content:space-between; */
    justify-content:space-between;

}
img{
    position: relative;
    right: 10px;
    bottom: 10px;
    

}
input[type="text"]{
    font-size: 25px;
    border-radius: 5px;
}
.searches{
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
}

.searchContainer{
     font-size: 18px;
     
}
.selection{
    font-size: 20px;
}
.buttonStyle{
    font-size: 18px;
    border-radius: 10px;
   
}